* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
}

.week-title, .user-button, .task-title, .task-desc, .task-done, .complete-button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.week-title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.user-button, .task-wrapper {
    background-color: #C8F9FB;
}

.task-wrapper, .complete-button {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%; 
}

.complete-button {
    background-color: #93F389;
}

.user-button, .complete-button {
    margin-top: 0.4em;
    height: 2em;
    color: #000;
    font-size: 1.5em;
    border: 0px;
    border-radius: 1em;
}

.user-button.left-btn, .user-button.right-btn {
   width: 40%;
   height: 3em;
}

.user-button.left-btn {
    margin-left: 7.5%;
    margin-right: 2.5%;
}

.user-button.right-btn {
    margin-right: 7.5%;
    margin-left: 2.5%;
}

.task-wrapper {
    margin-top: 2em;
    margin-bottom: 5em;
    border-radius: 1em;
}

.task-title, .task-desc {
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: 5%;
}

.task-title {
    font-size: 1.5em;
    padding-top: 0.5em;
}

.task-desc {
    font-size: 1em;
    padding-bottom: 1em;
}

.task-done {
    text-align: center;
    color: #93F389;
    font-size: 3em;
}
